<!-- Page-header start -->
<div class="">
    <div class="page-header card">
      <div class="row align-items-end">
        <div class="col-lg-8">
          <div class="page-header-title">
            <span><i class="icofont icofont-fast-delivery bg-c-pink"></i></span>
            <div class="d-inline">
              <span class="d-block"><h4>Orders management</h4></span>
              <span>This page allows you to add, delete, and update Orders in the system.</span>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="page-header-breadcrumb">
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="'/dashboard'">
                  <i class="icofont icofont-home"></i>
                </a>
              </li>
              <li class="breadcrumb-item">
                <a [routerLink]="'/dashboard/categories_account_management'">Orders Management
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page-header end -->
  
  <div class="row">
    <div class="col-sm-12">
      <app-card [title]="'Orders list'">

        <div style="display: flex; align-items: center; justify-content: space-between;">
            <div>
                <label for="srch">Research</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <input id="serch" type="text" [(ngModel)]="term">
            </div>
        </div>
          
        <div class="table-responsive">
        <table class="table table-bordered align-middle text-center" style="border: 1px solid black;">
            <thead style="background-color: #5256ad; border: 1px;color: rgb(255, 255, 255);">
              <tr>
                <th scope="col">N°</th>
                <th scope="col">Item Count</th>
                <th scope="col">Date</th>
                <th scope="col">Total Amount</th>
                <th scope="col">Total (Including Tax)	</th>
                <th scope="col">Client</th>
                <th scope="col">Delivery fee</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody *ngIf="ordersList.length == 0">
              <tr>
                <td colspan="9"> 
                    No Data Found
                </td>
              </tr>
          </tbody>



            <tbody *ngFor="let item of this.ordersList | filter:term | slice: (page - 1) * pageSize: page * pageSize; let i = index">
              <tr> 
                <td>{{item.id}}</td>
                <td>{{item.orderLines.length}}</td>
                <td>{{ item.orderDate | date:'shortDate'  }}
                </td>
                <td style="background-color: antiquewhite;">{{item.totalPriceHT+' DT'}}</td>
                <td style="background-color: aquamarine;">{{item.totalPriceTTC+' DT'}}</td>
                <td>
                    <span *ngIf="item.deliveryMan?.id">{{item.user.firstName + ' ' + item.user.lastName}}</span>
                    <span *ngIf="!item.deliveryMan">not assigned yet</span>

                </td>
                <td style="background-color: aquamarine;">{{item.deliveryFee +' DT' || 0 +' DT'}}</td>

                <td>
                  <span *ngIf="item.status === 0" class="badge badge-primary">Pending </span>
                  <span *ngIf="item.status === 1" class="badge badge-warning">Shipped</span>
                  <span *ngIf="item.status === 2" class="badge badge-success">Delivered</span>
                  <span *ngIf="item.status === 4" class="badge badge-success">Received</span>
                  <span *ngIf="item.status === 3" class="badge badge-dark">Canceled</span>
                </td>
                  <td>
                
                    <!-- <svg *ngIf="this.status == 0" xmlns="http://www.w3.org/2000/svg" (click)="openUpdate(item,item.status)" width="20" height="20" fill="currentColor" class="bi bi-pencil-square text-warning" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                    </svg> -->
                    <svg *ngIf="item.status != '2' && item.status != '3' && item.status != '4' " xmlns="http://www.w3.org/2000/svg" (click)="openChangeStatus(item)" width="20" height="20" fill="currentColor" class="bi bi-mailbox2-flag text-success" viewBox="0 0 16 16">
                      <path d="M10.5 8.5V3.707l.854-.853A.5.5 0 0 0 11.5 2.5v-2A.5.5 0 0 0 11 0H9.5a.5.5 0 0 0-.5.5v8z"/>
                      <path d="M4 3h4v1H6.646A4 4 0 0 1 8 7v6h7V7a3 3 0 0 0-3-3V3a4 4 0 0 1 4 4v6a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V7a4 4 0 0 1 4-4m.585 4.157C4.836 7.264 5 7.334 5 7a1 1 0 0 0-2 0c0 .334.164.264.415.157C3.58 7.087 3.782 7 4 7s.42.086.585.157"/>
                    </svg>

                    &nbsp;&nbsp;&nbsp;&nbsp;

                    <svg xmlns="http://www.w3.org/2000/svg"  (click)="openInfo(item,item.status)" width="20" height="20" fill="currentColor" class="bi bi-eye text-primary" viewBox="0 0 16 16">
                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                    </svg> 
                    
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <svg xmlns="http://www.w3.org/2000/svg" *ngIf="item.status != 0" (click)="openFacture(item.id)" width="20" height="20" fill="currentColor" class="bi bi-envelope-paper-heart-fill text-warning" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="m3 7.5 3.5 2L8 8.75l1.5.75 3.5-2v-6A1.5 1.5 0 0 0 11.5 0h-7A1.5 1.5 0 0 0 3 1.5zM2 3.133l-.941.502A2 2 0 0 0 0 5.4v.313l2 1.173zm12 3.753 2-1.173V5.4a2 2 0 0 0-1.059-1.765L14 3.133zm-3.693 3.324L16 6.873v6.5zm5.634 4.274L8 10.072.059 14.484A2 2 0 0 0 2 16h12a2 2 0 0 0 1.941-1.516M5.693 10.21 0 13.372v-6.5zM8 1.982C9.664.309 13.825 3.236 8 7 2.175 3.236 6.336.31 8 1.982"/>
                    </svg>
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" *ngIf="this.status != 0" width="16" (click)="openDelete(item.id)" height="16" fill="currentColor" class="bi bi-trash3 text-danger" viewBox="0 0 16 16">
                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                    </svg> -->
                    <!-- <svg *ngIf="this.status != 0" xmlns="http://www.w3.org/2000/svg" (click)="openUpdate(item,item.status)" width="20" height="20" fill="currentColor" class="bi bi-pencil-square text-warning" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                    </svg> -->

                  </td>
              </tr>
            </tbody>
          </table>
  
          <div class="d-flex justify-content-between p-2">
            <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="ordersList.length">
            </ngb-pagination>
            <!-- Items per page -->
            <div>
              Items per page:
              <select class="custom-select" style="width: auto" name="pageSize" (change)="handlePageSizeChange($event)">
                <option *ngFor="let size of pageSizes" [ngValue]="size">
                  {{ size }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </app-card>
    </div>
  </div>
  