    <br><br>
    <section>
        <div class="photo">
            <img src="{{this.deliveryMan.imagePath}}" alt="My profile picture">
        </div>
        <div>
            <div style="text-align: center;">
            <h2>Delivery Man Information</h2>
            </div>
            <div class="row">
                <div class="col">
                    <div class="contact-flex">
                        <p><strong>Last Name:</strong></p>
                        <p>{{this.deliveryMan.lastName}}</p>
                    </div>
                </div>
                <div class="col">
                    <div class="contact-flex">
                        <p><strong>First Name:</strong></p>
                        <p>{{this.deliveryMan.firstName}}</p>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="contact-flex">
                        <p><strong>Email:</strong></p>
                        <p>{{this.deliveryMan.email}}</p>
                    </div>
                </div>
                <div class="col">
                    <div class="contact-flex">
                        <p><strong>Phone:</strong></p>
                        <p>{{this.deliveryMan.phone}}</p>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="contact-flex">
                        <p><strong>Birthday:</strong></p>
                        <p>{{this.deliveryMan.birthday}}</p>
                    </div>
                </div>
                <div class="col">
                    <div class="contact-flex">
                        <p><strong>Status:</strong></p>
                      
                          
                        <span *ngIf="this.deliveryMan.status == 0" class="badge badge-danger badge-medium">Disabled</span>
                        <span *ngIf="this.deliveryMan.status == 1" class="badge badge-success badge-medium">Enabled</span>
                        
                          <!-- {{this.deliveryMan.status}} -->
                     
                    </div>
                </div>
            </div>
            <br>
        </div>
    </section>
    
    <section>
        <h2>Expériences professionnelles</h2>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="table-responsive">
                <table class="table table-bordered align-middle text-center" style="border: 1px solid black;">
                    <thead style="background-color: #5256ad; border: 1px;color: rgb(255, 255, 255);">
                        <tr >
                            <th class="text-center" scope="col">No.</th>
                            <th class="text-center" scope="col">Order No.</th>
                            <th class="text-center" scope="col">Comment</th>
                            <th class="text-center" scope="col">Order Date</th>
                            <th class="text-center" scope="col">Rate</th>
                          </tr>
                    </thead>
                    <tbody *ngIf="listAvis.length == 0">
                      <tr>
                        <td colspan="3"> 
                            No Data Found
                        </td>
                      </tr>
                  </tbody>
        
        
        
                    <tbody *ngFor="let item of this.listAvis | filter:term | slice: (page - 1) * pageSize: page * pageSize; let i = index">
                      <tr>
                          <td class="text-center" >{{item.id}}</td>
                          <td class="text-center">{{item.order.id}}</td>
                          <td class="text-center" class="description-text text-wrap">
                            <p class="mb-0">{{ item.comment }}</p>
                        </td>
                        <td class="text-center">{{item.order.orderDate | date:'yyyy-MM-dd'}}</td>
                        <td class="text-center">
                            

                            <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let idx = index">
                                <svg *ngIf="idx < calculateStarRating(item.rate).fullStars" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gold" class="bi bi-star-fill" viewBox="0 0 16 16">
                                  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.33-.319-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.613.631.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                </svg>
      
                                <!-- Half star if needed -->
                                <svg *ngIf="calculateStarRating(item.rate).halfStar && idx === calculateStarRating(item.rate).fullStars" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gold" class="bi bi-star-half" viewBox="0 0 16 16">
                                  <path d="M5.354 5.119L7.538.792A.52.52 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.54.54 0 0 1 16 6.32a.55.55 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.5.5 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.6.6 0 0 1 .085-.302.51.51 0 0 1 .37-.245zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.56.56 0 0 1 .162-.505l2.907-2.77-4.052-.576a.53.53 0 0 1-.393-.288L8.001 2.223 8 2.226z"/>
                                </svg>
      
                                <!-- Empty stars -->
                                <svg *ngIf="idx >= calculateStarRating(item.rate).fullStars + (calculateStarRating(item.rate).halfStar ? 1 : 0)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" class="bi bi-star" viewBox="0 0 16 16">
                                  <path d="M2.866 14.85c-.078.444.36.791.746.593l4.389-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.33-.319.158-.888-.283-.95l-4.898-.696L8.465.792c-.197-.39-.73-.39-.927 0L5.354 5.119l-4.898.696c-.441.062-.613.631-.283.95l3.523 3.356-.83 4.73z"/>
                                </svg>
                              </ng-container>


                        </td>

                      </tr>
                    </tbody>
                  </table>
          
                  <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="listAvis.length">
                    </ngb-pagination>
                    <!-- Items per page -->
                    <div>
                      Items per page:
                      <select class="custom-select" style="width: auto" name="pageSize" (change)="handlePageSizeChange($event)">
                        <option *ngFor="let size of pageSizes" [ngValue]="size">
                          {{ size }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>









    </section>
    
