<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Store</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <link rel="stylesheet" href="../../../../assets/firest_home/assets/css/fontawesome.css">
  <link rel="stylesheet" href="../../../../assets/firest_home/assets/css/templatemo-sixteen.css">
  <link rel="stylesheet" href="../../../../assets/firest_home/assets/css/owl.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
    rel="stylesheet">

  <style>
    .right-image img {
      width: 100%;
      max-width: 500px;
      height: 250px;
      object-fit: cover;
      border-radius: 5px;
      display: block;
      background-color: #f8f9fa;
    }
  </style>
</head>

<body>

  <!-- Magasin Info Section -->
  <div class="best-features about-features">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>{{this.magazins.name}}</h2>
          </div>
        </div>
        <div class="col-md-6">
          <div class="right-image">
            <img [src]="this.magazins.image" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="left-content">
            <br><br>
            <h4>Who we are &amp; What we do?</h4>
            <p>{{this.magazins.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <hr>
  <br>
  <!-- Search and Filter Section -->
  <div class="container mb-4">
    <div class="row align-items-end">
      <!-- Search Input -->
      <div class="col-md-6 mb-3">
        <label for="searchInput"><strong>Search Products</strong></label>
        <input type="text" id="searchInput" class="form-control" [(ngModel)]="term" placeholder="Type to search...">
      </div>

      <!-- Category Dropdown -->
      <div class="col-md-6 mb-3">
        <label for="categoryFilter"><strong>Filter by Category</strong></label>
        <select id="categoryFilter" class="form-control" (change)="onChange($event.target.value)">
          <option value="-1">All Categories</option>
          <ng-container *ngFor="let item of this.catogry">
            <option value="{{item.id}}">{{item.name}}</option>
          </ng-container>

          <!-- You can dynamically generate these options from Angular if needed -->
        </select>
      </div>
    </div>
  </div>

  <!-- Products Section -->
  <div class="team-members">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Our Products</h2>
          </div>
        </div>
        <div class="col-md-4"
          *ngFor="let item of this.product | filter:term | slice: (page - 1) * pageSize: page * pageSize; let i = index">
          <div class="team-member">
            <div class="thumb-container">
              <img [src]="item.imagePath" alt="{{item.name}}">
              <div class="hover-effect">
                <div class="hover-content">

                </div>
              </div>
            </div>
            <div class="down-content">
              <h4>{{item.name}}</h4>
              <span>{{item.price}} DT</span>
              <p>{{ item.description.split(' ').slice(0, 8).join(' ') }}...</p>
              <br>
              <button [routerLink]="['/product', item.id]" class="btn btn-info"><i
                  class="icofont icofont-eye-alt"></i>Details</button> &nbsp; <button
                (click)="this.check_if_connected()" class="btn btn-primary"><i class="icofont icofont-cart"></i>Add to
                Cart</button>
            </div>
          </div>
        </div>
        <!-- Repeat for more products -->
      </div>
    </div>
  </div>

  <hr>

</body>

</html>