<app-header></app-header>

<!-- Main Content Area -->
<div class="container">
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>

<!-- JS Files -->
<script src="../../../assets/firest_home/assets/js/custom.js"></script>
<script src="../../../assets/firest_home/assets/js/owl.js"></script>
<script src="../../../assets/firest_home/assets/js/slick.js"></script>
<script src="../../../assets/firest_home/assets/js/isotope.js"></script>
<script src="../../../assets/firest_home/assets/js/accordions.js"></script>
