<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span><!-- l'icone X (croix) -->
    </button>
</div>
<div class="modal-body">
    <form class="form" name="form" #f="ngForm" (ngSubmit)="this.Onsubmit(f)">


        <div class="form-group col-md-12">
            <label for="inputState">Category</label>
            <select id="inputState" class="form-control" [(ngModel)]="model.category" #category="ngModel" name="category" required>
                <option value="-1" disabled>choose category</option>
                <ng-container *ngFor="let item of categoriesList">
                    <option [value]="item.id">{{item.name}}</option>
                </ng-container>
            </select>
            <!-- <div *ngIf="category.touched && category.errors?.required" class="error">Category is required</div> -->
            <span *ngIf="category.touched && category.errors?.required" class="text-danger">Product Category is
                required</span>
        </div>
        

            <div class="form-group col-md-12">
                <label for="inputEmail4">Product Name</label>
                <input type="text" class="form-control" id="name" name="name" ngModel [(ngModel)]="this.model.name" #name="ngModel" placeholder="Product Name" required>
                <span *ngIf="name.touched && name.errors?.required" class="text-danger">Product Name is
                    required</span>
             
            </div>

            <div class="form-group col-md-12">
                <label for="exampleFormControlTextarea1">Product Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description" ngModel [(ngModel)]="this.model.description" #description="ngModel" placeholder="Product Description" required>
                </textarea>
                <span *ngIf="description.touched && description.errors?.required" class="text-danger">Product Description is
                    required</span>
              </div>
            <div class="form-group col-md-12">
                <label for="inputEmail4">Product Price</label>
                <input type="number" class="form-control" id="price" min="0" name="price" ngModel [(ngModel)]="this.model.price" #price="ngModel" placeholder="Product Price" required>
                <span *ngIf="price.touched && price.errors?.required" class="text-danger">Product Price is
                    required</span>
             
            </div>

            <div class="form-group col-md-12">
                <label for="inputEmail4">Product TVA</label>
                <input type="number"  class="form-control" id="tva" name="tva" min="0" max="100" ngModel [(ngModel)]="this.model.tva" #tva="ngModel" placeholder="Product TVA" required>
                <span *ngIf="tva.touched && tva.errors?.required" class="text-danger">Product TVA is
                    required</span>
             
            </div>
            <div *ngIf="this.add" class="form-group col-md-12">
                <label for="inputEmail4">Product Image</label>
                <input type="file" class="form-control" (change)="onFileSelected($event)"  id="imagePath" name="imagePath" ngModel [(ngModel)]="this.model.imagePath" #imagePath="ngModel"  required>
                <span *ngIf="imagePath.touched && imagePath.errors?.required"  class="text-danger">Product Image is required</span>
            </div>

            <div *ngIf="!this.add" class="form-group col-md-12">
                <label for="inputEmail4">Product Image</label>
                <input type="file" class="form-control" (change)="onFileSelected($event)"  id="imagePath" name="imagePath" ngModel [(ngModel)]="this.model.imagePath" #imagePath="ngModel">
                <span *ngIf="imagePath.touched && imagePath.errors?.required"  class="text-danger">Product Image is required</span>
            </div>
        <div class="modal-footer">
            <button *ngIf="this.add==true" type="submit" [disabled]="f.invalid" class="btn btn-primary">Add</button>
            <button *ngIf="this.add==false" type="submit" [disabled]="f.invalid" class="btn btn-warning">Edit</button>
            <button type="button" class="btn btn-outline-dark"
                (click)="activeModal.close('Close click')">Close</button>
        </div>
    </form>

</div>