<!-- Page-header start -->
<div class="">
    <div class="page-header card">
      <div class="row align-items-end">
        <div class="col-lg-8">
          <div class="page-header-title">
            <span><i class="icofont icofont-archive bg-c-pink"></i></span>
            <div class="d-inline">
              <span class="d-block"><h4>Orders management</h4></span>
              <span>This page allows you to add, delete, and update Orders in the system.</span>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="page-header-breadcrumb">
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="'/dashboard'">
                  <i class="icofont icofont-home"></i>
                </a>
              </li>
              <li class="breadcrumb-item">
                <a [routerLink]="'/dashboard/categories_account_management'">Orders Management
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page-header end -->
  
  <div class="row">
    <div class="col-sm-12">
      <app-card [title]="'Orders list'">

        <div style="display: flex; align-items: center; justify-content: space-between;">
            <div>
                <label for="srch">Research</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <input id="serch" type="text" [(ngModel)]="term">
            </div>
        </div>
          
        <div class="table-responsive">
        <table class="table table-bordered align-middle text-center" style="border: 1px solid black;">
            <thead style="background-color: #5256ad; border: 1px;color: rgb(255, 255, 255);">
              <tr>
                <th scope="col">N°</th>
                <th scope="col">Item Count</th>
                <th scope="col">Date</th>
                <th scope="col">Total Amount</th>
                <th scope="col">Total (Including Tax)	</th>
                <!-- <th scope="col">Delivery Man</th>
                <th scope="col">Delivery fee</th> -->
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody *ngIf="ordersList.length == 0">
              <tr>
                <td colspan="9"> 
                    No Data Found
                </td>
              </tr>
          </tbody>



            <tbody *ngFor="let item of this.ordersList | filter:term | slice: (page - 1) * pageSize: page * pageSize; let i = index">
              <tr>
                <td>{{item.id}}</td>
                <td>{{item.orderLines.length}}</td>
                <td>{{ item.orderDate | date:'shortDate'  }}
                </td> 
                <td style="background-color: antiquewhite;">{{item.totalPriceHT+' DT'}}</td>
                <td style="background-color: aquamarine;">{{item.totalPriceTTC+' DT'}}</td>
                <!-- <td>
                    <span *ngIf="item.deliveryMan?.id">{{item.deliveryMan.firstName + ' ' + item.deliveryMan.lastName}}</span>
                    <span *ngIf="!item.deliveryMan">not assigned yet</span>

                </td>
                <td style="background-color: aquamarine;">{{item.deliveryFee || 0 +' DT'}}</td> -->

                <td>
                    <span *ngIf="item.status === 1" class="badge badge-primary">Pending </span>
                    <span *ngIf="item.status === 2" class="badge badge-warning">In progress</span>
                    <span *ngIf="item.status === 3" class="badge badge-success">Confirmed</span>
                    <span *ngIf="item.status === 4" class="badge badge-success">Ready to taken</span>
                    <span *ngIf="item.status === 5" class="badge badge-dark">Taken</span>
                </td>
                  <td>
                

                    <svg xmlns="http://www.w3.org/2000/svg"  *ngIf="this.status != 0" (click)="openUpdate(item,item.status)" width="20" height="20" fill="currentColor" class="bi bi-eye text-primary" viewBox="0 0 16 16">
                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                    </svg> 
                  </td>
              </tr>
            </tbody>
          </table>
  
          <div class="d-flex justify-content-between p-2">
            <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="ordersList.length">
            </ngb-pagination>
            <!-- Items per page -->
            <div>
              Items per page:
              <select class="custom-select" style="width: auto" name="pageSize" (change)="handlePageSizeChange($event)">
                <option *ngFor="let size of pageSizes" [ngValue]="size">
                  {{ size }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </app-card>
    </div>
  </div>
  